attrs==19.3.0
boto3==1.14.12
botocore==1.17.12
docutils==0.15.2
importlib-metadata==1.7.0
jmespath==0.10.0
more-itertools==8.4.0
packaging==20.4
pkg-resources==0.0.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.9
wcwidth==0.2.5
zipp==3.1.0
